/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 0.7em;
    margin-top: 1em;
    background: rgb(255, 190, 61);
    text-align: left;
    position: relative;
}

.logo {
    color:rgb(255, 255, 255);
	text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.logo-menu-opened {
    text-align: center;
}

.nav-ul {
    text-align: center;
}

.nav-li {
	display: none;
    padding: 1em 1em;
}

.nav-a {
	color:rgb(255, 255, 255);
	text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.navbar-container {
    position: relative;
}

.nav-li-opened {
    display: block;
}

.menu-btn {
    display: inline-block;
    width: 2.2em;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.menu-btn:before,
.menu-btn:after {
    background-color: #fff;
    content: '';
    display: block;
    height: 0.3em;
    transition: all 200ms ease-in-out;
}
.menu-btn:before {
    box-shadow: 0 0.9em #fff;
    margin-bottom: 1.5em;
}
.menu-btn-active:before {
    box-shadow: 0 0 #fff;
    transform: translateY(0.9em) rotate(45deg);
}
.menu-btn-active:after{
    transform: translateY(-0.9em) rotate(-45deg);
}

.contact { 
    padding: 1em 3em 0.5em 3em;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

.contact li {
    padding: 0.3em;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background: #09b0b3;
}

.copyright {
    padding: 1em;
}

main {
    margin-top: 1em;
    padding-top: 2em;
    min-height: 25em;
    background: rgba(83, 203, 203, 0.3);
}

.text-block {
    padding: 1em;
    background: rgb(114, 214, 214);
}

.text {
    padding: 1em 0 1em 0;
}

.text-block:nth-child(n+2) {
    margin-top: 2em;
}

h1,h2,h3,h4,h5,h6 {
    /* padding: 1%; */
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.75em;
}

h6 {
    font-size: 0.5em;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

.project ul li {
    line-height: 1.5;
}

.project ul {
    padding: 1em 2em 1em 2em;
}

.project a {
    color: rgb(255, 255, 255);
}

.li-first, .li-second, .li-third {
    padding-top: 1em;
    margin: 0 1em 0 1em;
}

.li-first:last-child {
    padding-bottom: 1em;
}

@media only screen and (min-width: 680px) {
    nav {
        padding: 0 0 0 1em;
        white-space: nowrap;
    }
    .menu-btn {
        display: none;
    }
    .navbar-container {
        display: inline-block;
        white-space: nowrap;
        width: 20%;
        
    }
    .nav-ul {
        display: inline-block;
        width: 70%;
        text-align: right;
    }
    .nav-li {
        display: inline-block;
        padding: 1.5em 1em;
        white-space: nowrap;
        position: relative;
    }
}

@media only screen and (min-width: 720px) {
    main {
        margin: 2em 3em 1em 3em;
        padding: 2em 4em 2em 4em;
        min-height: 25em;
        background: rgba(83, 203, 203, 0.3);     
    }

    .nav-li:hover {
        background: rgb(253, 222, 159);	
    }
    
    .nav-li:hover a {
        color:rgb(20, 153, 153);
    }

    .project h5:nth-child(n + 3)  {
        padding-top: 0em;
    }
    
    .project ul li {
        line-height: 1.5;
    }
    
    .project ul {
        padding: 1em 2em 1em 2em;
    }
    .nav-li {
        display: inline-block;
        padding: 1.5em 1.5em;
    }
    .nav-a {
        color:rgb(255, 255, 255);
        text-decoration: none;

    }
    .project ul li a:hover {
        color: rgb(20, 153, 153);
        border-bottom: 0.1em solid;
        padding-bottom: 0.1em
    }
    .contact li:nth-child(n+2) {
        margin-left: 2em;
    }
    
    .contact li:nth-child(n+2) a{
        color: rgb(255,255,255)
    }
    
    .contact li:nth-child(n+2) a:hover {
        color: rgb(8, 79, 79);
        border-bottom: 0.1em solid;
    }

    .li-first, .li-second, .li-third {
        padding-top: 1em;
        margin: 0 2em 0 2em;
    }
    
    .li-first:last-child {
        padding-bottom: 1em;
    }
    
    .text {
        padding: 1em;
    }

    .li-first {
        list-style-type: circle;
    }
    
    .li-second {
        list-style-type: disc;
    }
    
    .li-third {
        list-style-type: square;
    }
}

@media only screen and (min-width: 820px) {

}